/* main styles */
.main {
  border: 1px solid var(--border);
  width: 100%;
  height: 100%;
}

.home {
  padding-left: 2.5rem;
  border-bottom: 1px solid var(--border);
}

.new-tweet {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 9fr;
  border-bottom: 0.2rem solid var(--thick-border);
}

.new-tweet .left,
.right {
  padding: 0 1rem;
}

.new-tweet input {
  padding: 2rem 0;
  background: transparent;
  border: none;
  color: var(--light);
  font-size: 2.5rem;
  font-weight: 400;
}

.new-tweet-options {
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet .add-icons {
  margin-right: 1rem;
}

.new-tweet .add-icons svg {
  width: 3rem;
  fill: var(--sky-blue);
  padding: 1rem;
}

.new-tweet .add-icons svg:first-child {
  padding-left: 0;
}
